<form class="footer__form" method="post"
      asp-controller="Home"
      asp-action="Subscribe"
      id="frmSubscribe">
    <input class="footer__form__input"
           type="text"
           name="email" id="email"
           placeholder="Subscribe to our newsletter...">
    <button class="footer__form__btn" type="submit">Send</button>
</form>